﻿
        th {
            background-color: lavenderblush;
            text-align: center;
        }
        td {
            background-color: lightsteelblue;
            text-align: center;
        }
        body {
            background-color: deepskyblue;
        }
        h1 {
            text-align: center;
        }
        table{
            margin: 0 auto;           
        }
       select{
           margin:auto;
  display:block;          
       }
      button{
         margin:auto;
  display:block;
      }
      
      
       /* The alert message box */
