﻿@model FakturaMvc.Models.Faktura

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Faktura</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
</head>
<body>

    @foreach (var message in @ViewBag.messages)
    {        
        <div>@message.opis</div>
    }
    

    @if (@Model != null)
    {
        <h1> Faktura o numerze @Model.idFaktura </h1>
        <table style="width:50%; border: 1px solid black;">
            <tr>
                <td ><p align="left">ID</p></td>
                <td>@Model.idFaktura</td>
            </tr>
            <tr>
                <td  ><p  align="left">Dostawca</p></td>
                <td>@Model.dostawca</td>
            </tr>
            <tr>
                <td  ><p  align="left">Odbiorca</p></td>
                <td>@Model.odbiorca</td>
            </tr>
            <tr>
                <td  ><p  align="left">NIP</p></td>
                <td>@Model.numerNip</td>
            </tr>
            <tr>
                <td  ><p  align="left">Data wystawienia faktury</p></td>
                <td>@Model.dataPlatnosci</td>
            </tr>
        </table>

        <table style="width:50%; border: 1px solid black;">
            <tr>
                <th  ><p  align="left">Pozycje faktury:</p></th>
            </tr>
        </table>

    <table style="width:50%; border: 1px solid black;"  rules="groups">
        <colgroup span="1"></colgroup>
        <colgroup span="1"></colgroup>
        <colgroup span="1"></colgroup>
        <colgroup span="1"></colgroup>
        <colgroup span="1"></colgroup>
        <colgroup span="1"></colgroup>
   
        <tbody>
            <tr>
                <th width="30">Lp.</th>
                <th width="120">Nazwa</th>
                <th width="60">Kwota Netto</th>
                <th width="60">Stawka VAT</th>
                <th width="60">Kwota VAT</th>
                <th width="60">Kwota Brutto</th>
                <th width="60">Edycja</th>
            </tr>
        </tbody>
        <tbody>
            @foreach (var pozycjaFaktury in @Model.pozycje)
            {
                <tr>
                    <td>@pozycjaFaktury.lp</td>
                    <td>@pozycjaFaktury.nazwa</td>
                    <td align="right"><p></p>@pozycjaFaktury.kwotaNetto zł<p></p></td>
                    <td align="right">@pozycjaFaktury.stawkaVat %</td>
                    <td align="right">@pozycjaFaktury.kwotaVat zł</td>
                    <td align="right">@pozycjaFaktury.kwotaBrutto zł</td>                    
                    <td><a href="/FakturaPozycja/PozycjaDoEdycji/@Model.idFaktura/@pozycjaFaktury.lp">Edycja pozycji @pozycjaFaktury.lp</a></td>                   
                </tr>
            }

        </tbody>
        <tbody>
        <tr>
            <th width="30">----</th>
            <th width="120">RAZEM</th>
            <th width="60">@Model.kwotaNetto() zł</th>
            <th width="60">----</th>
            <th width="60">@Model.kwotaVat() zł</th>
            <th width="60">@Model.kwotaBrutto() zł</th>
            <th width="60">----</th>
        </tr>
        </tbody>

    </table>
    <div align="center">
        <b><a href="/FakturaPozycja/PozycjaDoEdycji/@Model.idFaktura/0">dodaj pozycję</a></b>
        
    </div>

    }
    

    <b><br><a href="/Faktura/ListaFaktur">Powrót do listy faktur</a></br></b>
</body>
</html>
