﻿@model FakturaMvc.Models.Faktura
@{
    Layout = null;
}

<!DOCTYPE html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>NowaFaktura</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
</head>
<body>
    @using (Html.BeginForm("FakturaDoEdycji", "Faktura", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        
            foreach (var message in ViewBag.messages)
            {
            <div>@message.opis</div>
            }
        
        
            if (Model != null)
            {
        <table style="width:50%; border: 1px solid black;">
            <tr>
               
                <td>@Html.HiddenFor(a => a.idFaktura)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(a => a.dostawca)</th>
                <td>@Html.TextBoxFor(a => a.dostawca)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(a => a.odbiorca)</th>
                <td>@Html.TextBoxFor(a => a.odbiorca)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(a => a.numerNip)</th>
                <td>@Html.TextBoxFor(a => a.numerNip)</td>
            </tr>


        </table>


        <input type="submit" value="Zapisz" />
            
        }
    }
</body>

