﻿@model IEnumerable<FakturaMvc.Models.Faktura>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListaFaktur</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
</head>
<body>


    <h1> Lista faktur </h1>
    <table style="width:50%; border: 1px solid black;">
        <tr>
            <th><p>ID</p></th>
            <th><p>Dostawca</p></th>
            <th><p>Odbiorca</p></th>
            <th><p>Edycja</p></th>
            <th><p>Usuń</p></th>

        </tr>

        @foreach (var faktura in Model)
        {
            <tr>
                <td>
                    <a href="/Faktura/Faktura/@faktura.idFaktura">@faktura.idFaktura</a>
                </td>
                <td>@faktura.dostawca</td>                
                <td>@faktura.odbiorca</td>
                <td>
                    <button onclick="location.href = '/Faktura/FakturaDoEdycji/@faktura.idFaktura'">Edycja Faktury @faktura.idFaktura</button>                   
                </td>
                <td>
                    <button onclick="location.href = '/Faktura/UsunFaktura/@faktura.idFaktura'">Usuń fakturę @faktura.idFaktura</button>
                </td>
            </tr>
        }
                </table>
    

    <select onchange="self.location.href = this.value">
        @foreach (var faktura in Model)
            {
            <option VALUE="/Faktura/Faktura/@faktura.idFaktura">Faktura nr @faktura.idFaktura</option>
        }
    </select>
    <br />
   
    <button onclick="location.href = '/Faktura/FakturaDoEdycji/0'">Nowa faktura</button>


</body>

</html>
