﻿@model FakturaMvc.Models.FakturaPozycja
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PozycjaFakturaDoEdycji</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
</head>
<body>
    @using (Html.BeginForm("PozycjaDoEdycji", "FakturaPozycja", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        
            foreach (var message in @ViewBag.messages)
            {

            <div>@message.opis</div>
            }
        

        
            if (@Model != null)
            {
        <table style="width:50%; border: 1px solid black;">
            <tr>
                <th>@Html.LabelFor(a => a.lp)</th>
                <td>@Html.TextBoxFor(a => a.lp)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(a => a.nazwa)</th>
                <td>@Html.TextBoxFor(a => a.nazwa)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(a => a.kwotaNetto)</th>
                <td>@Html.TextBoxFor(a => a.kwotaNetto)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(a => a.stawkaVat)</th>
                <td>@Html.TextBoxFor(a => a.stawkaVat)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(a => a.id_faktura)</th>
                <td>@Html.TextBoxFor(a => a.id_faktura, new Dictionary<string, object>() { { "readonly", "true" } })</td>
            </tr>
        </table>
        <input type="submit" value="Zapisz" />
            }
        
    }
    <a href="/Faktura/Faktura/@Model.id_faktura">Powrót do podglądu faktury</a>
</body>
</html>
