﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <title>Ksiazka</title>
</head>
<body>
    
            <h1> Książka </h1>
            <table style="width:50%; border: 1px solid black; margin: 0 auto;">
                <tr>
                    <th align="left"><p>ID</p></th>
                    <td>@Model.id</td>
                </tr>
                <tr>
                    <th align="left"><p>Tytuł</p></th>
                    <td>@Model.tytul</td>
                </tr>
                <tr>
                    <th align="left"><p>Numer ISBN</p></th>
                    <td>@Model.isbn</td>
                </tr>
                <tr>
                    <th align="left"><p>Cena</p></th>
                    <td>@Model.cena2()</td>
                </tr>
                <tr>
                    <th align="left"><p>Autor</p></th>
                    <td>@Model.autor</td>
                </tr>
            </table>
            
</body>
</html>
