﻿@model FakturaMvc.Models.Ksiazka
@{
    Layout = null;
}

<!DOCTYPE html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>NowaKsiazka</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
</head>
<body>
    @using (Html.BeginForm("KsiazkaDoEdycji", "Ksiazka", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table style="width:50%; border: 1px solid black;">
            <tr>
                <th>@Html.LabelFor(a => a.id)</th>
                <td>@Html.TextBoxFor(a => a.id)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(a => a.tytul)</th>
                <td>@Html.TextBoxFor(a => a.tytul)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(a => a.isbn)</th>
                <td>@Html.TextBoxFor(a => a.isbn)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(a => a.autor)</th>
                <td>@Html.TextBoxFor(a => a.autor)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(a => a.cena)</th>
                <td>@Html.TextBoxFor(a => a.cena)</td>
            </tr>

        </table>
        <input type="submit" value="Zapisz" />

    }
</body>
