﻿@model IEnumerable<FakturaMvc.Models.Ksiazka>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListaKsiazek</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
</head>
<body>
    <h1> Książka </h1>
    <table style="width:50%; border: 1px solid black; margin: 0 auto;">
        <tr>
            <th align="left"><p>ID</p></th>
            <th align="left"><p>Tytuł</p></th>
            <th align="left"><p>Edycja</p></th>
            <th align="left"><p>Usuń</p></th>
            
        </tr>
        @foreach (var ksiazka in Model)
        {
            <tr>                
                <td><a href="/Ksiazka/Ksiazka/@ksiazka.id"><p>@ksiazka.id</p></a></td>                          
                <td><p>@ksiazka.tytul</p></td>  
                <td>
                    <button onclick="location.href = '/Ksiazka/KsiazkaDoEdycji/@ksiazka.id'">Edycja Książki @ksiazka.id</button>

                </td>
                <td>
                    <button onclick="location.href = '/Ksiazka/UsunKsiazka/@ksiazka.id'">Usuń Książkę @ksiazka.id</button>

                </td>       
            </tr>                                                
        }
    </table>    
    <select onchange="self.location.href = this.value">
        @foreach (var ksiazka in Model)
            {
            <option VALUE="/Ksiazka/Ksiazka/@ksiazka.id">Książka nr @ksiazka.id</option>
        }
    </select>
    <br />

    <button onclick="location.href = '/Ksiazka/KsiazkaDoEdycji/0'">Nowa książka</button>                    
</body>
</html>
