﻿@model IEnumerable<FakturaMvc.Models.Zajecia>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListaZajec</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
</head>
<body>
    <center><b>Lista Zajęć</b></center>
    <table style="width:100%; border: 1px solid black;">
        <tr>
            <th p align="left">ID</th>
            <th p align="left">Nazwa</th> 
            <th p align="left">typ</th>    
            <th p align="left">miejsce</th> 
            <th p align="left">prowadzacy</th>    
        </tr>
        @foreach (var zajecia in Model)
        {

            <tr>                
                <td><a href="/Zajecia/Zajecia/@zajecia.id ">@zajecia.id</a></td>            
                <td>@zajecia.nazwa</td>       
                <td>@zajecia.typ</td>    
                <td>@zajecia.miejsce</td>       
                <td>@zajecia.prowadzacy</td> 
                <td>
                    <button onclick="location.href = '/Zajecia/ZajeciaDoEdycji/@zajecia.id'">Edycja zajęcia @zajecia.id</button>

                </td>
                <td>
                    <button onclick="location.href = '/Zajecia/UsunZajecia/@zajecia.id'">Usuń zajęcia @zajecia.id</button>

                </td>   
            </tr>                       
        }

    </table>
    <select onchange="self.location.href = this.value">
        @foreach (var zajecia in Model)
            {
            <option VALUE="/Zajecia/Zajecia/@zajecia.id">Zajęcia nr @zajecia.id</option>
        }

    </select>
    <br />

    <button onclick="location.href = '/Zajecia/ZajeciaDoEdycji/0'">Nowa zajęcie</button>     
</body>
</html>
