﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zajecia</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
</head>
<body>
    <h1> Zajecia </h1>
    <table style="width:50%; border: 1px solid black;">
        <tr>
            <th p align="left">ID</p></th>
            <td>@Model.id</td>
        </tr>
        <tr>
            <th p align="left">Nazwa</p></th>
            <td>@Model.nazwa</td>
        </tr>
        <tr>
            <th p align="left">Typ</p></th>
            <td>@Model.typ</td>
        </tr>
        <tr>
            <th p align="left">Miejsce</p></th>
            <td>@Model.miejsce</td>
        </tr>
        <tr>
            <th p align="left">Prowadzący</p></th>
            <td>@Model.prowadzacy</td>
        </tr>
    </table>
</body>
</html>
