﻿@model FakturaMvc.Models.Zajecia
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ZajeciaDoEdycji</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
</head>
<body>

    @using (Html.BeginForm("ZajeciaDoEdycji", "Zajecia", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table style="width:50%; border: 1px solid black;">
            <tr>
                <th>@Html.LabelFor(a => a.id)</th>
                <td>@Html.TextBoxFor(a => a.id)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(a => a.nazwa)</th>
                <td>@Html.TextBoxFor(a => a.nazwa)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(a => a.typ)</th>
                <td>@Html.TextBoxFor(a => a.typ)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(a => a.miejsce)</th>
                <td>@Html.TextBoxFor(a => a.miejsce)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(a => a.prowadzacy)</th>
                <td>@Html.TextBoxFor(a => a.prowadzacy)</td>
            </tr>

        </table>
            <input type="submit" value="Zapisz" />

    }

</body>
</html>
